/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* General styles */
body {
  background-color: #9b734dc0;
  color: white;
  margin: 0;
  line-height: 1.1;
  font-size: 18px;
}

section {
  padding: 10rem 2rem;
}

img {
  display: block;
  max-width: 100%;
}
.logo,
.intro-img,
.about-me-image {
  border-radius: 0.75rem;
}

/* My work button */
.btn {
  display: inline-block;
  padding: 1rem 1.5rem;
  background-color: #2d545e;
  border-radius: 0.75rem;
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 1.5px;
  transition: transform 0.3s ease-out;
}
.btn:hover {
  transform: scale(1.1);
}

strong {
  font-weight: 900;
}

h1,
h2,
h3 {
  line-height: 1.1;
  margin: 0;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.25rem;
}
h3 {
  font-size: 1.25rem;
}
/* Section */
.section-title {
  margin: 0.5rem;
}

.section-title-intro {
  font-weight: 300;
}
.section-title-intro strong {
  display: block;
}

.section-subtitle {
  margin: 0;
  font-size: 1.25rem;
  border-radius: 1rem;
}

.section-subtitle-intro,
.section-subtitle-about {
  background-color: rgb(103, 100, 80);
  margin-bottom: 1rem;
  padding: 0.3rem 1.7rem;
}

/* Header */
nav {
  display: none;
}

/* intro section */
.intro {
  position: relative;
}

.intro-img {
  box-shadow: 0.25rem 0.25rem 1.5rem rgba(0, 0, 0, 0.75);
  border-radius: 0.75rem;
}

.section-subtitle-intro {
  display: inline-block;
}

@media (min-width: 600px) {
  .intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 2rem;
    grid-template-areas:
      "img title"
      "img subtitle";
    grid-template-columns: min-content max-content;
    height: 85vh;
  }
  .intro-img {
    grid-area: img;
    min-width: 280px;
    position: relative;
    z-index: 2;
  }
  .section-subtitle-intro {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -2.5rem;
    width: calc(100% + 2.5rem);
  }
}
/* services */
.my-services {
  background-color: rgba(0, 0, 0, 0.915);
  background-image: url(./photos/safar-safarov-MSN8TFhJ0is-unsplash.jpg);
  background-size: cover;
  background-blend-mode: multiply;
  color: white;
  text-align: center;
  height: 100vh;
  padding-top: 250px;
  line-height: 25px;
}

.section-title-services {
  color: white;
  position: relative;
  font-size: 55px;
  margin-bottom: 10px;
}

.section-title-services::after {
  content: "";
  display: block;
  width: 30%;
  height: 1px;
  margin: 0.5rem auto 1rem;
  background-color: white;
  margin-top: 10px;
  opacity: 0.6;
}

.services {
  margin-bottom: 1rem;
}

.service {
  max-width: 480px;
  margin: 0 auto;
}

@media (min-width: 800px) {
  .services {
    display: flex;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* About me section */

.about-me {
  max-width: 1000px;
  margin: 0 auto;
}
.about-me-image {
  box-shadow: 0.25rem 0.25rem 1.5rem rgba(0, 0, 0, 0.75);
}

@media (min-width: 600px) {
  .about-me {
    display: grid;
    grid-template-columns: 1fr 250px;
    grid-template-areas:
      "title img"
      "subtitle img"
      "text img";
    grid-column-gap: 2rem;
  }

  .section-title-about {
    grid-area: title;
  }
  .section-subtitle-about {
    grid-column: 1 / -1;
    grid-row: 2;
    position: relative;
    left: -1rem;
    width: calc(100% + 2rem);
    padding-left: 1rem;
    padding-right: calc(200px + 4rem);
  }

  .about-me-image {
    grid-area: img;
    position: relative;
    z-index: 2;
  }
}

/* My work */

.my-work {
  background-color: #e1b382;
  color: #12343b;
  text-align: center;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1px;
  max-width: 1199px;
  margin: auto;
}

.portfolio-item {
  background-color: #8a8a8a;
  overflow: hidden;
  border-radius: 0.3rem;
}

.portfolio-img {
  transition: transform 0.75s cubic-bezier(0.5, 0, 0.5, 1), opacity 0.25s linear;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio-img:hover {
  transform: scale(1.2);
  opacity: 0.75;
}

.section-subtitle-work {
  color: #2d545e;
  font-weight: 300;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 22px;
}
